.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh; 
  width: 100%;
  background: transparent;
}

.loading svg {
  width: 120px; /* antes era 64px */
  height: 90px; /* antes era 48px */
}

/* From Uiverse.io by milley69 */
.loading svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: var(--primary-color);
}

.loading svg polyline#front {
  fill: none;
  stroke: var(--accent-color);
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

